<ion-view view-title="{{list.name}}">

    <ion-content>

        <ion-list>
            <ion-item class="item-remove-animate" collection-repeat="item in list.items" type="item-text-wrap">
                <span ng-click="togglePurchased(item)" ng-class="{'strike-it': item.purchased}">{{item.name}}</span>
                <ion-option-button class="button-assertive" ng-click="deleteItem(item)">Delete</ion-option-button>
            </ion-item>
        </ion-list>

        <div class="row">
            <div class="col">
                <form ng-submit="addItem()">
                    <input id="newItemName"
                           type="text"
                           placeholder="Add Item"
                           ng-model="newItem.name"
                           class="add-item">
                </form>
            </div>
        </div>

    </ion-content>
</ion-view>
