<ion-view view-title="Lists">

    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button" ng-click="doSomething()">-->
    <!--Add-->
    <!--</button>-->
    <!--</ion-nav-buttons>-->

    <ion-content>

        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="list in lists" type="item-text-wrap"
                      href="#/tab/lists/{{list.id}}">{{list.name}}
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="deleteList(list)">Delete</ion-option-button>
            </ion-item>

            <!--<ion-item class="item-icon-left">-->
                <!--<i class="icon ion-ios-plus-empty xx-large" ng-click="showNewListInput()"></i>-->
                <!--<input type="text" placeholder="New List Name" ng-show="newListInput">-->
            <!--</ion-item>-->

        </ion-list>

        <div class="padding-top"></div>
        <i class="icon ion-ios-plus-empty xx-large pad-it" ng-click="showNewListInput()" style="float: left;"></i>
        <input type="text" placeholder="New List Name" ng-show="newListInput" style="padding-left: 10px !important;">

    </ion-content>
</ion-view>
