<ion-view view-title="Lists">

    <ion-content>

        <div class="row">
            <div class="col">
                <input id="newListName"
                       type="text"
                       placeholder="Add List"
                       ng-model="newListName"
                       key-bind="createList(newListName); newListName=''"
                       class="add-item">
            </div>
        </div>

        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="list in lists" type="item-text-wrap"
                      href="#/tab/lists/{{list.id}}">{{list.name}}
                <span class="badge badge-positive">{{list.items.length}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <ion-option-button class="button-assertive" ng-click="deleteList(list)">Delete</ion-option-button>
                <ion-option-button class="button-calm" ng-click="clearItemsInList(list)">Clear</ion-option-button>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
