<ion-view view-title="Dashboard" >

  <ion-nav-buttons side="right">
    <i class="icon ion-android-microphone xx-large" ng-click="sendVoice()"></i>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="row">
      <div class="col text-center">

        <div class="mic-wrap" style="width: 164px; height: 164px; margin-left: auto; margin-right: auto;">
          <div id="mic-animation-block" ng-show="showAnimation">
            <div id="meterCircle1" class="meterCircle1">
              <div id="meterCircle2" class="meterCircle2">
                <div id="meterCircle3" class="meterCircle3">
                </div>
              </div>
            </div>
          </div>
          <i class="icon ion-android-microphone xxx-large padding-top" ng-click="sendVoice()"></i>
          <button class="button button-block button-positive" ng-click="stopListening()">Stop Listening</button>
        </div>

      </div>
    </div>


  </ion-content>
</ion-view>
