/* Empty. Add your own CSS if you like */
.larger {
  font-size: larger !important;
}

.x-large {
  font-size: x-large !important;
}

.xx-large {
  font-size: xx-large !important;
}

.xxx-large {
  font-size: 75px !important;
}

/*metering*/
.meterCircle1 {
  border: 1px solid #414552;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  position: absolute;
}

.meterCircle2 {
  border: 1px solid #80838b;
  width: 136px;
  height: 136px;
  border-radius: 50%;
  position: absolute;

  margin-top: 13px;
  margin-left: 13px;
}

.meterCircle3 {
  border: 1px solid #d5d6d8;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  position: absolute;

  margin-top: 13px;
  margin-left: 13px;
}
